#Data Science Tools and EcosystemIn this notebook, Data Science Tools and Ecosystem are summarized.

#Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
1 python
2 R
3 SQL

Some of the commonly used libraries used by Data Scientists include:
1 pandas
2 matplotlib
3 numpy
4 pytorch

Data Science Tools
RStudio.
Apache Spark.
TensorFlow.
Apache Hadoop.

###Below are a few examples of evaluating arithmetic expressions in Python
addition (+)
subtraction(-)
multiplication(*)
division (/)

In [2]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

objectives:
libraries used in data science .
language used in data science

##author
peerzada shamas ul wara